*{
    /* 背景 */
        vertical-align:top;
        font-family:Arial;
        text-align: center;
        position:relative;
        letter-spacing: 7px;
        background-color:#FFF8D7;
    }

    

    /* 大標題 */
    .Selfintroduction h2{
        color: #FFFACD;
        text-shadow: 2px 2px 4px #000000;/*文字陰影*/
        text-align: center;
        line-height: 0.5;
        font-family:  monospace;
        font-size: 55px
      }      
    .Selfintroduction h5{
        color: #FFFACD;
        text-shadow: 2px 2px 4px #000000;/*文字陰影*/
        text-align: center;
        line-height: 0.5;
        font-family:  monospace;
        font-size: 35px
      }  

div{
        height: 210px;
        width: 250px;
        background-color: #ffc300;
        border: 2px dashed #003366;
        margin: 40px;
        float:left;
      }
    /* 中間框 */
    .bottom{
        height:770px;
        width: 700px;
        border-style: solid;
        border-width: medium;
        box-shadow: 2px 2px 3px #000000; /*盒子陰影*/
        margin-left:auto;
        margin-right:auto;
    }
    .left, .right{
        background-color:#FFF8D7;
        display: inline-block;
        height:100px;
        width:50%;
        box-sizing: border-box;
    }
    .left{
        height:100%;
        width:50%;
        margin-left:0px;
    }
    .right{
        height:100%;
        width:50%;
        margin-left:0px;
    }
    
    .rtop,.rmiddium, .rbottom{
        background-color:#FFF8D7;
        height:40%;
        box-sizing: border-box;
    }
   
    .photo, .about, .contact{
        background-color:#FFF8D7;
        box-sizing: border-box;
    }
    .photo img{
        border:2px #E8FFF5;
        background-color:#81D8D0;
        height:200px;
        border-radius:50%;
        margin: 30px;
        width:200px;
    }


    /* 介紹 */
    .about{
        height: 250px;
    }
    .about h2{
        background-color:#FFF8D7;
        display:inline-block;
        margin:20px;
        height:20px;
        font-size:24px;
        letter-spacing: 2px;
        color: #000000;
        text-shadow: 0 0 1px #ff0000; /*文字陰影*/
    }
    .about p{
        background-color:#FFF8D7;
        font-size:18px;
        letter-spacing: 3px;
        margin-bottom:10px;
        color: #000000;
        text-shadow: 0 0 1px #FF0000;/*文字陰影*/
        text-align:left;
        padding-left:50px;
    }
    

    /* 關於 */
    .contact h2{
        background-color:#FFF8D7;
        display:inline-block;
        margin:20px;
        height:20px;
        font-size:24px;
        letter-spacing: 2px;
        color: #000000;
        text-shadow: 0 0 1px #ff0000; /*文字陰影*/
    }
    .contact p{
        background-color:#FFF8D7;
        font-size:18px;
        letter-spacing: 2px;
        margin-bottom:10px;
        color: #81D8D0;
        text-shadow: 0 0 4px #000000; /*文字陰影*/
        text-align:left;
        padding-left:50px;
    }
    .contact a,img{
        background-color:#FFF8D7;
        color: #81D8D0;
        text-decoration:none;
    }